@using EventsITAcademy.Domain.Users
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@model EventsITAcademy.Application.Events.Responses.EventResponseModel
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>PersonResponseModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FinishDate)
        </dd>
    </dl>

</div>
@*@if (SignInManager.IsSignedIn(User))
{
            < a href = "ticket/@this.User.FindFirstValue(ClaimTypes.NameIdentifier)/@Model.Id" > Reserve </ a >
    <button>Buy</button>
}*@
@if(SignInManager.IsSignedIn(User) && Model.NumberOfTickets > 0){
    <div>
        @Html.ActionLink("Reserve", "Reserve", "Ticket", new { userId = this.User.FindFirst(ClaimTypes.NameIdentifier).Value, eventId = Model.Id})
    </div>
    <div>
        @Html.ActionLink("Buy", "Reserve", "Ticket", new { userId = this.User.FindFirst(ClaimTypes.NameIdentifier).Value, eventId = Model.Id})
    </div>
}
<div>
    @Html.ActionLink("შეცვლა", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="List">Back to List</a>
</div>
